body {
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

.background-capa {
    padding-right: 150px;
    font-weight: bold;
    text-align: right;
    background-color: black;
    min-height: 500px;
    background-image: url('img/capa.jpg');
    background-size: cover;
}

.sobre {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 10px;
}

.titulo {
    margin: 0 auto;
    width: 800px;
}

.sobre img {
    width: 250px;
    height: 180px;
}

.background-con {
    min-height: 155px;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    color: black;
    position: relative;
    top: 50px;
}

.atuacao, .contato {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.atuacao, .contato li {
    text-align: left;
    line-height: 22px;
    margin: 0 auto;
    width: 800px;
}

.atuacao, .contato {
    text-align: left;
    width: 700px;
}

.destaque {
    font-size: 22px;
    font-weight: bold;
}
